 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 182px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 41px auto;
  padding: 26px 117px 27px 116px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 192px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 34px;
    margin-bottom: 34px;
    padding: 33px 168px 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 137px;
    padding-left: 136px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1655px;
}

.u-section-2 .u-image-1 {
  height: 415px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  height: 1240px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1656px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: 1px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1684px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1721px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 711px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 796px;
}

.u-section-3 .u-image-1 {
  width: 726px;
  height: 130px;
  margin: 39px auto 0;
}

.u-section-3 .u-image-2 {
  width: 1112px;
  height: 519px;
  margin: 37px -34px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-3 .u-image-1 {
    width: 661px;
    height: 101px;
    margin-top: 71px;
  }

  .u-section-3 .u-image-2 {
    width: 842px;
    height: 392px;
    margin-top: 43px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 335px;
    margin-right: -43px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 83px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 251px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-image-1 {
    height: 48px;
    width: 282px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 42px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 158px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 31px;
    margin-bottom: 42px;
  }
} .u-section-4 {
  min-height: 314px;
}

.u-section-4 .u-image-1 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 47px;
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    height: 306px;
    margin-bottom: 8px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 595px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  font-size: 2.25rem;
  text-shadow: 2px 2px 8px rgba(252,113,0,0.45);
  width: 425px;
  margin: 21px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 406px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 406px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 406px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-9 {
  font-weight: 900;
  margin: 20px 0 0;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 914px;
    margin: 39px auto 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-btn-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-5 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-5 .u-btn-3 {
    font-size: 2.25rem;
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 26px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1138px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 416px;
    margin: 34px -38px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: 287px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-5 .u-text-7 {
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-5 .u-btn-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}